//Fonts 

$josefin: 'Josefin Sans', sans-serif;
$aleoregular: 'aleoregular', sans-serif;
$aleo: 'aleo', sans-serif;

//Color: 
$grey: #e8e8e8;
$red: #ff6363;
$blue: #5474fd;
$lblue: #00a2ff;
$black: #333333;