.wrapper-madrid {
	background: url('../images/spain-1.jpg') no-repeat;
	background-size: cover;
	padding-top: 230px;
	padding-bottom: 100px;
	
	&--bg {
		background: url('../images/spain-2.jpg') no-repeat;
		background-size: cover;
	}
	

	.madrid {
		padding: 50px 30px;
		background: rgba(43, 40, 42, .9);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: $grey;
		font: 400 20px/26px $josefin;


		&__span {
			
			padding-bottom: 30px;
			
		}

		&__span--title {
			text-transform: uppercase;
			padding-bottom: 30px;
		}

		&__desc {
			font-size: 16px;
			padding-bottom: 45px;
			
		}
	}
}

